<header class="aside-menu">
  <nav class="aside-menu-content">
    <div class="aside-menu-logo">
      <%= image_tag 'logo/logo-branco.svg'%>
    </div>
    <ul class="aside-menu-itens">
      <li>
        <%= image_tag 'icons/house-door-fill.svg',class: 'icons'%>
        <span class="text"><%= 'Pagina Inicial' %> </span>
      </li>
      <li>
        <%= image_tag 'icons/calendar-check.svg', class: 'icons'%>
        <span class="text"> <%= 'Agenda' %></span>
      </li>
      <li>
        <%= image_tag 'icons/clientes.png',class: 'icons'%>
        <span class="text"> <%= 'Clientes' %></span>
      </li>
      <li>
        <%= image_tag 'icons/mensagem.png',class: 'icons' %>
        <span class="text"> <%= 'Mensagens' %> </span>
      </li>
      <li>
        <%= image_tag 'icons/suit-heart-fill.svg',class: 'icons'%>
        <span class="text">  <%= 'Acompanhamento' %></span>
      </li>
      <li>
        <%= image_tag 'icons/apple-icon.png', class: 'icons'%>
        <span class="text"> <%= 'Alimentos' %></span>
      </li>
      <li>
        <%= image_tag 'icons/receitas.png',class: 'icons'%>
        <span class="text"> <%= 'Receitas' %></span>
      </li>
      <li>
        <%= image_tag 'icons/substituição.png',class: 'icons'%>
        <span class="text">  <%= 'Substituições' %></span>
      </li>
      <li>
        <%= image_tag 'icons/models.png',class: 'icons'%>
        <span class="text">  <%= 'Models' %></span>
      </li>
    </ul>
    <div class="aside-menu-footer">
      <ul>
        <li class="consultar">Agendar Consulta</li>
        <li class="cadastrar">Cadastrar cliente</li>
      </ul>
    </div>
  </nav>
</header>

