<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= form_with url: users_path,
              method: :get,
              data:{turbo_frame: 'search',
                    controller:'search',
                    action: 'keyup->search#perform'} do |f| %>
  <!--Eu crio um turbo frame com id search-->
  Buscar: <%= f.text_field :query, value: params[:query] %>
<%end %>
<!--Esse turbo frame ganha as caracteristicas-->

<%= render 'search_users', users: @users %>

<%= link_to 'New user', new_user_path %>
